.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

build
Test2Code
Dcode
design/doc/ebingoo_项目终结.docx
.gitignore
settings.gradle
TestScollListView
design

#Android Gears
Gears/