<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.promote.ebingo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <application
        android:name=".application.EbingoApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, theme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".search.SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".category.CategoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".InformationActivity.ProductInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".InformationActivity.BuyInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".InformationActivity.InterpriseInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".publish.PickCategoryActivity"
            android:label="@string/choose_trade"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".publish.login.RegisterActivity"
            android:label="@string/reg_for_free"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".publish.login.RegisterInputYzm"
            android:label="@string/reg_for_free"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".publish.EditDescription"
            android:label="@string/title_edit_description"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".publish.AddTagsActivity"
            android:label="@string/title_add_tag"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".publish.PickRegionActivity"
            android:label="@string/title_pick_region"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".publish.PhotoAlbumActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".center.settings.EnterpriseSettingActivity"
            android:label="@string/title_enterprise_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".publish.PreviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InformationActivity.InterpriseNewActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:parentActivityName=".BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            android:parentActivityName=".BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.promote.ebingo.BaseActivity" />
        </activity>
        <activity
            android:name=".publish.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.MySupplyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/my_supply"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.MyDemandActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/my_demand"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.MyCollectionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/my_collect"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.MyBookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_my_book"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".center.MyPrivilegeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_my_privilege"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.CallRecordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_call_record"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.MyEnterPriseInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_company_data"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.settings.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.settings.AboutUsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.settings.SuggestionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_suggestion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".center.TagInfoListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_suggestion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".publish.login.FindPasswordActivity"
            android:label="@string/title_activity_find_password" />
        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".publish.PublishEditActivity"
            android:label="@string/title_activity_publish_edit_demand" />
        <activity
            android:name="com.jch.d2code.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:label="@string/app_name"
            android:name=".InformationActivity.CodeScanOnlineActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
    </application>

</manifest>
