<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.promote.ebingo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".application.EbingoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateUnspecified|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".category.CategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InformationActivity.ProductInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InformationActivity.BuyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InformationActivity.InterpriseInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:label="@string/title_activity_interprise_info" >
        </activity>
        <activity android:name=".publish.PickCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".publish.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".publish.login.RegisterInputYzm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".publish.EditDescription"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".publish.AddTagsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
